$background-primary:#052E4F;
$heading-primary-color:#2b8ede;
$heading-secondary-color:#052E4F;
$text-primary-color:#444;
$white-text-color:#ebebeb;
$light-blue:#2b8ede;
$success-color:#62b162;
$light-gray-bg:#f5f5f5;
