.footer{
    background: $background-primary;
    padding:24px 0;
    width: 100%;
    .left{
        p{
            color: $white-text-color;
        }
    }
    .right{
        display: flex;
        justify-content: flex-end;
        ul{
            list-style: none; 
            li{
                display: inline;
                a{
                    margin: 0 0.5rem;
                    color: $white-text-color;
                }
            }
        }
    }
}