.hire-developer-container{
    background:#052E4F;
    height: auto;
    padding-right: 15px;
    @media screen and (min-width:$medium) {
        background:#052E4F url(../images/hire-developers.svg) no-repeat right top;
        background-position: right 20px;
        background-size: 32%;
        padding-right: 280px;
        height: 210px;
    }

    @media screen and (min-width:$large) {
        background-size: 42%;
        background-position: right 40px;
    }
 
    @media screen and (min-width:$x-large) {
        height: 264px;
    }
}

.why-hire{
    &.three-cols-grid{
        @media screen and (min-width:$small) {
            grid-template-columns: repeat(2, 1fr) !important;
        }
        @media screen and (min-width:$medium) {
            grid-template-columns: repeat(3, 1fr) !important;
        }  
    }
    .card{
        text-align: center;
        background: #fff;
        .icon{
            margin: auto;
            width: 90px;
            height: 90px;
            margin-bottom: 1.5rem;
            @media screen and (min-width:$x-large) {
                width: 120px;
                height: 120px;
            }
        }
    }
}

    .technology-row-container{
        margin-top:32px;
        .technology-row{
            margin-bottom: 24px;
            width: 100%;
            border: solid 1px #dbe5ed;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background: #fff;
            @media screen and (min-width:$medium) {
               flex-direction: row;
             }

            .left-heading{
                width: 100%;
                padding: 1rem;
                display: flex;
                align-items: center;
                background:#fff;
                border-right: solid 1px #dbe5ed;
                justify-content: center;
                @media screen and (min-width:$medium) {
                    width: 206px;
                    justify-content: left;
                }

            }
            .tech-name-container{
                padding: 1rem 0;
                width:100%;
                display: flex;
                gap:1rem;
                flex-wrap: wrap;
                @media screen and (min-width:$small) {
                    padding: 1rem;
                }

                @media screen and (min-width:$medium) {
                    width: calc(100% - 206px);
                    gap: 1.5rem;
                }

                .tech-name-box{
                    width: 96px;
                    height: 100px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                    justify-content: center;
                    @media screen and (min-width:$x-large) {
                        gap: 1.25rem;
                     }
                    .tech-icon{
                        width: 54px;
                        height: 54px;
                       img{max-width: 100%;}
                    }
                    .tech-name{
                        color:$heading-secondary-color
                    }
                }
            }
        }
    }
.hiring-process-container{
.three-cols-grid{
    @media screen and (min-width:$medium) {
        grid-template-columns: repeat(2, 1fr);
     }
     @media screen and (min-width:$large) {
        grid-template-columns: repeat(3, 1fr);
     }
     
}
.process-card{
    background: #1c629b;
    display: flex;
    font-size: 32px;
    color: $white-text-color;
    padding: 0.5rem 1rem;
    position: relative;
    height: 80px;
    align-items: center;
    width: calc(100% - 16px);
    @media screen and (min-width:$medium) {
        font-size: 40px;
    }
    .process-container{
        background:$light-gray-bg;
        border-radius: $radius-sx;
        font-size: 18px;
        color: $text-primary-color;
        display: flex;
        align-items: center;
        width:calc(100% - 60px);
        padding: 1rem;
        position: absolute;
        right: -16px;
        height:calc(100% - 16px);
        @include light-shadow;
        border: solid 2px #fff;
        @media screen and (min-width:$medium) {
            font-size: 16px;
        }

    }
}
}

.hiring-model-card{
    background: $light-gray-bg;
    text-align: center;
    transform: $transition;
    background: #fff;
    &:hover{
        
        @include  light-shadow;
        @include scale;
    }
    .icon{
         width: 60px;
        height: 60px;
        margin:20px auto;
    }
    ul{
     text-align: left;
     margin-top: 16px;
    display: inline-block;
    @media screen and (min-width:$medium) {
        margin-top: 32px;
    }

      li{
        list-style: none;
        margin-bottom: 1.5rem;
        position: relative;
        padding-left: 24px;
        i{
        position: absolute;
        top: 0;
        left: 0;
        }
        }
}
.button{
    background:$heading-primary-color;
    color: #fff;
    padding:0.75rem 1rem;
    border-radius: 4px;
    margin-top: 1rem;
     margin-bottom: 0.25rem;
    display: inline-block;
    &:hover{
        background: $background-primary;
        }
    }
}