@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

p{ 
    font-size: 14px;
    color:$text-primary-color;
    line-height: 22px;
    font-weight: 400;
    @media screen and (min-width:$x-large) {
        font-size: 16px;
        line-height: 24px;
    }
}
h1{
    font-size:24px;
    line-height: 28px;
    color: $white-text-color;
    @media screen and (min-width:$medium) {
        font-size:32px;
        line-height: 46px;
    }
    @media screen and (min-width:$x-large) {
        font-size:48px;
        line-height: 64px;
    }
}
h2{
    font-size: 20px;
    line-height: 26px;
    color: $heading-primary-color;
    @media screen and (min-width:$medium) {
        font-size: 24px;
        line-height: 32px;
    }

}
h4{
    font-size: 18px;
    line-height: 30px;
    color: $heading-primary-color;
}