@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.justify {
  text-align: justify;
}

.gap-3 {
  gap: 3rem !important;
}

.mt-8 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.theme-bg {
  background: #052E4F;
}

.light-gray-bg {
  background: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}

.full-width-container {
  width: 100%;
  padding: 32px 0;
}

.two-cols-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .two-cols-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.three-cols-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .three-cols-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .three-cols-grid {
    gap: 2rem;
  }
}

.heading-box {
  margin: auto;
  text-align: center;
}
.heading-box div {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .heading-box div {
    padding: 0 100px;
  }
}
.heading-box div::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  background: #052E4F;
  left: 0;
  top: calc(50% - 1px);
  width: 50%;
  z-index: 1;
}
.heading-box div::after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  background: #052E4F;
  right: 0;
  top: calc(50% - 1px);
  width: 50%;
  z-index: 1;
}
.heading-box .sub-heading {
  color: #052E4F;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  background: #fff;
  z-index: 2;
  padding: 0 12px;
}
.heading-box.heading-white h2 {
  color: #ebebeb;
}
.heading-box.heading-white div::after, .heading-box.heading-white div::before {
  background: #ebebeb;
}
.heading-box.heading-white div .sub-heading {
  background: #052E4F;
  color: #ebebeb;
}
.heading-box.heading-light-gray .sub-heading {
  background: #f5f5f5;
}

.card {
  width: 100%;
  height: auto;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 1rem;
  transition: transform 0.5s;
}
@media screen and (min-width: 1200px) {
  .card {
    padding: 1.5rem;
  }
}
.card .icon {
  height: 80px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .card .icon {
    height: 100px;
  }
}
.card .icon img {
  max-width: 100%;
  max-height: 100%;
}
.card h4 {
  margin-top: 1.5rem;
  line-height: 24px;
}
.card p {
  margin-top: 0.75rem;
}
.card.card-white-text h4, .card.card-white-text p, .card.card-white-text a {
  color: #ebebeb;
}
.card.card-white-text a {
  text-decoration: underline;
}

.inner-page-top {
  background: #052E4F;
  padding-top: 56px;
  padding-bottom: 30px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .inner-page-top {
    height: 266px;
  }
}
@media screen and (min-width: 1200px) {
  .inner-page-top {
    height: 320px;
  }
}
.inner-page-top .container {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .inner-page-top .container {
    padding-top: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .inner-page-top .container {
    padding-top: 80px;
  }
}
.inner-page-top p {
  color: #ebebeb;
  margin-top: 0.75rem;
}

.tech-box-small {
  border: solid 1px #ddd;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.tech-box-small .tech-icon-row {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.tech-box-small .tech-icon-row .icon-column {
  margin-top: 1rem;
  text-align: center;
}
.tech-box-small .tech-icon-row .icon-column .tech-icon {
  height: 60px;
  margin: auto;
  text-align: center;
}
.tech-box-small .tech-icon-row .icon-column .tech-icon img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

p {
  font-size: 14px;
  color: #444;
  line-height: 22px;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

h1 {
  font-size: 24px;
  line-height: 28px;
  color: #ebebeb;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 46px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

h2 {
  font-size: 20px;
  line-height: 26px;
  color: #2b8ede;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-size: 18px;
  line-height: 30px;
  color: #2b8ede;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 100;
  background: #052e4f;
}
.header.headerBg, .header.inner-header {
  background-color: #052E4F;
}
.header.inner-header {
  border-bottom: solid 1px #02192c;
}
.header.inner-header::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  left: 0;
  bottom: -2px;
  width: 100%;
  background: #0f3f66;
}
.header .logo {
  margin-top: 8px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .container .logo a {
  color: #fff;
  font-size: 34px;
}
@media screen and (max-width: 992px) {
  .header .navbar {
    position: fixed;
    top: 56px;
    left: -100%;
    width: 100%;
    height: calc(100% - 56px);
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--shadow-medium);
    background-color: #052E4F;
    transition: all 0.5s ease;
  }
  .header .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }
}
.header .menu-item {
  position: relative;
  display: inline-block;
  padding: 0;
}
@media only screen and (min-width: 993px) {
  .header .menu-item {
    padding: 1rem;
  }
}
.header .menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  cursor: pointer;
  color: #ebebeb;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  white-space: nowrap;
}
.header .menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}
.header .menu-link:hover {
  outline: none;
  color: #2b8ede;
}
.header .menu-link.active {
  color: #2b8ede;
}
@media only screen and (min-width: 993px) {
  .header .menu-dropdown:hover > .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 992px) {
  .header .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .header .menu-item {
    display: block;
    margin: 0 auto;
  }
  .header .menu-link {
    justify-content: space-between;
    padding: 1rem 1.25rem;
  }
}

.submenu {
  position: absolute;
  top: 3.12rem;
  left: -2rem;
  min-width: 250px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 4px solid #1424b2;
  border: solid 1px #255c88;
  background-color: #052E4F;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(30, 98, 150, 0.6);
  padding: 8px 0;
}
.submenu-item {
  display: block;
}
.submenu-link {
  cursor: pointer;
  color: #ebebeb;
  width: 100%;
  padding: 0.75rem 1rem;
  transition: all 0.35s ease;
  display: block;
  font-size: 14px;
}
.submenu-link:hover {
  outline: none;
  color: #2b8ede;
}
@media only screen and (max-width: 992px) {
  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: translateY(0px);
    box-shadow: none;
    background: transparent;
  }
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 1.6rem;
  height: 1.15rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2.1px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 1rem;
  background: #ebebeb;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
@media only screen and (max-width: 992px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}
@media only screen and (max-width: 992px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.hero-slider {
  background-color: #052E4F;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .hero-slider {
    height: 540px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero-slider {
    height: 600px;
    padding-bottom: 0;
  }
}
.hero-slider p {
  color: #ebebeb;
  margin-top: 1rem;
}
.hero-slider .container {
  height: 100%;
  padding-top: 70px;
}
@media screen and (min-width: 768px) {
  .hero-slider .container {
    padding-top: 0;
  }
}
.hero-slider .two-cols-flex {
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero-slider .two-cols-flex {
    flex-direction: row;
  }
}
.hero-slider .two-cols-flex .left {
  width: 100%;
  order: 2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-slider .two-cols-flex .left {
    width: 55%;
    order: 1;
    text-align: left;
  }
}
.hero-slider .two-cols-flex .left .button {
  border: solid 1px #fff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  background: #093a61;
}
.hero-slider .two-cols-flex .left .button:hover {
  background: #0c436e;
  border-color: #6ab9f9;
}
.hero-slider .two-cols-flex .right {
  width: 100%;
  text-align: center;
  order: 1;
}
@media screen and (min-width: 768px) {
  .hero-slider .two-cols-flex .right {
    width: 45%;
    text-align: right;
    order: 2;
  }
}
.hero-slider .two-cols-flex .right img {
  max-width: 90%;
  max-height: 300px;
}
@media screen and (min-width: 576px) {
  .hero-slider .two-cols-flex .right img {
    max-width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .hero-slider .two-cols-flex .right img {
    max-width: 100%;
    max-height: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .hero-slider .two-cols-flex .right img {
    max-width: 80%;
  }
}
.hero-slider #particle-canvas {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  z-index: 0;
}
.hero-slider #particle-canvas div {
  background: transparent !important;
}

.about-container {
  box-shadow: 0 0 30px 0 rgba(0, 96, 174, 0.25);
  padding: 30px 16px;
  display: inline-block;
  width: 100%;
  background: #fff;
  margin-top: -90px;
  position: relative;
  z-index: 9;
}
.about-container .experience-box.two-cols-grid {
  grid-template-columns: repeat(2, 1fr) !important;
}
.about-container .experience-box h2 {
  font-size: 40px;
  line-height: 40px;
}

.services-card {
  border-color: #1e4e75;
  background: #0f3555;
}
.services-card:hover {
  transform: scale(1.05);
  background: radial-gradient(circle, rgb(11, 64, 107) 0%, rgb(5, 46, 79) 100%);
}
.services-card a {
  display: block;
  margin-top: 0.5rem;
}

.testimonials-bg {
  padding: 16px 0 30px 0;
}
.testimonials-bg .testimonials {
  height: 360px;
  width: calc(100% - 32px);
  background: #fff;
  margin: 60px auto 0 auto;
  border-radius: 32px 0 32px 0;
  text-align: center;
  position: relative;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 96, 174, 0.25);
}
@media screen and (min-width: 768px) {
  .testimonials-bg .testimonials {
    width: 600px;
  }
}
.testimonials-bg .testimonials::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 26px solid #fff;
  border-right: 26px solid transparent;
  border-top: 26px solid #fff;
  border-bottom: 26px solid transparent;
  left: 57px;
  bottom: -51px;
}
.testimonials-bg .testimonials .testimonilas-inner {
  border: solid 2px #eee;
  border-radius: 32px 0 32px 0;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 1rem 1rem 1rem;
}
.testimonials-bg .testimonials .testimonilas-inner p {
  font-size: 14px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .testimonials-bg .testimonials .testimonilas-inner p {
    font-size: 16px;
  }
}
.testimonials-bg .testimonials .testimonilas-inner .shape {
  width: 43px;
  height: 45px;
  position: absolute;
  left: 52px;
  bottom: -45px;
}
.testimonials-bg .testimonials .testimonilas-inner .shape img {
  width: 100%;
  height: 100%;
}
.testimonials-bg .testimonials .client-photo {
  width: 94px;
  height: 94px;
  display: inline-block;
  margin: -65px auto 0 auto;
  border-radius: 8px;
  background: #052E4F;
  border: solid 2px #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .testimonials-bg .testimonials .client-photo {
    width: 130px;
    height: 130px;
  }
}
.testimonials-bg .testimonials .client-photo i {
  color: #fff;
  font-size: 100px;
  padding-top: 10px;
}
.testimonials-bg .testimonials .client-photo img {
  width: 100%;
  height: 100%;
}
.testimonials-bg .testimonials .client-name-address {
  margin-top: 20px;
}
.testimonials-bg .testimonials .client-name-address h4 {
  font-size: 20px;
}
@media only screen and (min-width: 993px) {
  .testimonials-bg .testimonials .client-name-address h4 {
    font-size: 24px;
  }
}
.testimonials-bg .testimonials .client-name-address p {
  font-weight: 600;
  font-size: 14px;
}
@media only screen and (min-width: 993px) {
  .testimonials-bg .testimonials .client-name-address p {
    font-size: 16px;
  }
}
.testimonials-bg .testimonials .content {
  margin-top: 1rem;
}
.testimonials-bg .testimonials .content .fa-solid {
  font-size: 24px;
  color: #2b8ede;
}
.testimonials-bg .testimonials .content .fa-quote-left {
  margin-right: 0.5rem;
}
.testimonials-bg .testimonials .content .fa-quote-right {
  margin-left: 0.5rem;
}
.testimonials-bg .testimonials .rating {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.testimonials-bg .testimonials .rating i {
  color: #62b162;
}

.lets-connect {
  background: url(./../images/lets-connect.svg) no-repeat;
  margin: auto;
  height: 112px;
  width: 307px;
  background-size: 100%;
  padding-top: 14px;
}
@media screen and (min-width: 480px) {
  .lets-connect {
    width: 442px;
    padding-top: 36px;
    height: 154px;
  }
}
@media screen and (min-width: 576px) {
  .lets-connect {
    width: 535px;
    padding-top: 65px;
    height: 190px;
  }
}
@media screen and (min-width: 768px) {
  .lets-connect {
    height: 220px;
    width: 635px;
    padding-top: 82px;
  }
}
.lets-connect h2 {
  padding-right: 40%;
  line-height: 20px;
  font-size: 18px;
}
@media screen and (min-width: 480px) {
  .lets-connect h2 {
    font-size: 20px;
  }
}
.lets-connect .button {
  height: 40px;
  width: auto;
  padding: 0 1rem;
  background: #052E4F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #ebebeb;
  font-weight: 500;
  display: inline-block;
  line-height: 38px;
  margin-top: 14px;
}
@media screen and (min-width: 480px) {
  .lets-connect .button {
    margin-top: 30px;
  }
}
.lets-connect .button:hover {
  background: #2b8ede;
}

.slide-container-box {
  height: 475px;
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 700px;
}
.slide-container-box .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 475px;
  margin: 0;
  opacity: 0;
  transition: 1s ease-in-out;
}
.slide-container-box button {
  position: absolute;
  top: 50%;
  border: none;
  background: transparent;
  color: #052E4F;
  padding: 8px;
  margin-top: -25px;
  font-size: 30px;
  z-index: 1000;
  font-weight: 900;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.slide-container-box button:hover {
  color: #2b8ede;
}
.slide-container-box button.prev {
  left: 0;
}
.slide-container-box button.next {
  right: 0;
}

.dots_container {
  display: flex;
  margin: 5px auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.dots_container .dots {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 4px;
  border: solid 1px #2b8ede;
}
.dots_container .dots:hover {
  background: #2b8ede !important;
}

.contact-container {
  background: #052E4F;
  height: auto;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .contact-container {
    background: #052E4F url(../images/contact-image.svg) no-repeat right top;
    background-position: right 24px;
    background-size: 47%;
    padding-right: 440px;
    height: 210px;
  }
}
@media screen and (min-width: 840px) {
  .contact-container {
    background-size: 40%;
  }
}
@media screen and (min-width: 992px) {
  .contact-container {
    background-size: 36%;
  }
}
@media screen and (min-width: 1080px) {
  .contact-container {
    background-size: 33%;
  }
}
@media screen and (min-width: 1200px) {
  .contact-container {
    height: 264px;
    background-size: 35.5%;
  }
}

.contact-flex {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  gap: 3rem;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .contact-flex {
    flex-direction: row;
    margin-bottom: 0rem;
  }
}
.contact-flex .form-row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .contact-flex .form-row {
    flex-direction: row;
    gap: 1rem;
  }
}
.contact-flex .form-row .form-group {
  width: 100%;
}
.contact-flex .left {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-flex .left {
    width: 60%;
  }
}
.contact-flex .left form {
  margin-top: 1.5rem;
}
.contact-flex .left .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.contact-flex .left .form-group label {
  width: 100%;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.contact-flex .left .form-group input[type=text], .contact-flex .left .form-group input[type=email], .contact-flex .left .form-group input[type=tel], .contact-flex .left .form-group textarea {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  border: solid 1px #a7a7a7;
  border-radius: 4px;
}
.contact-flex .left .form-group input[type=text]:focus-visible, .contact-flex .left .form-group input[type=email]:focus-visible, .contact-flex .left .form-group input[type=tel]:focus-visible, .contact-flex .left .form-group textarea:focus-visible {
  outline: none;
  border: solid 2px #2b8ede;
  border-radius: 4px;
}
.contact-flex .left .form-group textarea {
  height: 100px;
}
.contact-flex .left .submit-button {
  height: 40px;
  width: auto;
  padding: 0 1rem;
  background: #052E4F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #ebebeb;
  font-weight: 500;
}
.contact-flex .left .submit-button:hover {
  background: #2b8ede;
}
.contact-flex .right {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-flex .right {
    width: 40%;
  }
}
.contact-flex .right .icon i {
  font-size: 24px;
  color: #052E4F;
}
@media screen and (min-width: 768px) {
  .contact-flex .right .icon i {
    font-size: 32px;
  }
}
.contact-flex .right .contact-info {
  display: flex;
  gap: 1.5rem;
  margin-top: 40px;
  align-items: center;
}
.contact-flex .right .contact-info div {
  display: flex;
  flex-direction: column;
  line-height: 26px;
}
.contact-flex .right .contact-info .value {
  font-size: 16px;
}

.hire-developer-container {
  background: #052E4F;
  height: auto;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .hire-developer-container {
    background: #052E4F url(../images/hire-developers.svg) no-repeat right top;
    background-position: right 20px;
    background-size: 32%;
    padding-right: 280px;
    height: 210px;
  }
}
@media screen and (min-width: 992px) {
  .hire-developer-container {
    background-size: 42%;
    background-position: right 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hire-developer-container {
    height: 264px;
  }
}

@media screen and (min-width: 576px) {
  .why-hire.three-cols-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 768px) {
  .why-hire.three-cols-grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
.why-hire .card {
  text-align: center;
  background: #fff;
}
.why-hire .card .icon {
  margin: auto;
  width: 90px;
  height: 90px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .why-hire .card .icon {
    width: 120px;
    height: 120px;
  }
}

.technology-row-container {
  margin-top: 32px;
}
.technology-row-container .technology-row {
  margin-bottom: 24px;
  width: 100%;
  border: solid 1px #dbe5ed;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .technology-row-container .technology-row {
    flex-direction: row;
  }
}
.technology-row-container .technology-row .left-heading {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  background: #fff;
  border-right: solid 1px #dbe5ed;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .technology-row-container .technology-row .left-heading {
    width: 206px;
    justify-content: left;
  }
}
.technology-row-container .technology-row .tech-name-container {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 576px) {
  .technology-row-container .technology-row .tech-name-container {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .technology-row-container .technology-row .tech-name-container {
    width: calc(100% - 206px);
    gap: 1.5rem;
  }
}
.technology-row-container .technology-row .tech-name-container .tech-name-box {
  width: 96px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .technology-row-container .technology-row .tech-name-container .tech-name-box {
    gap: 1.25rem;
  }
}
.technology-row-container .technology-row .tech-name-container .tech-name-box .tech-icon {
  width: 54px;
  height: 54px;
}
.technology-row-container .technology-row .tech-name-container .tech-name-box .tech-icon img {
  max-width: 100%;
}
.technology-row-container .technology-row .tech-name-container .tech-name-box .tech-name {
  color: #052E4F;
}

@media screen and (min-width: 768px) {
  .hiring-process-container .three-cols-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .hiring-process-container .three-cols-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.hiring-process-container .process-card {
  background: #1c629b;
  display: flex;
  font-size: 32px;
  color: #ebebeb;
  padding: 0.5rem 1rem;
  position: relative;
  height: 80px;
  align-items: center;
  width: calc(100% - 16px);
}
@media screen and (min-width: 768px) {
  .hiring-process-container .process-card {
    font-size: 40px;
  }
}
.hiring-process-container .process-card .process-container {
  background: #f5f5f5;
  border-radius: 4px;
  font-size: 18px;
  color: #444;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  padding: 1rem;
  position: absolute;
  right: -16px;
  height: calc(100% - 16px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: solid 2px #fff;
}
@media screen and (min-width: 768px) {
  .hiring-process-container .process-card .process-container {
    font-size: 16px;
  }
}

.hiring-model-card {
  background: #f5f5f5;
  text-align: center;
  transform: transform 0.5s;
  background: #fff;
}
.hiring-model-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.hiring-model-card .icon {
  width: 60px;
  height: 60px;
  margin: 20px auto;
}
.hiring-model-card ul {
  text-align: left;
  margin-top: 16px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .hiring-model-card ul {
    margin-top: 32px;
  }
}
.hiring-model-card ul li {
  list-style: none;
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 24px;
}
.hiring-model-card ul li i {
  position: absolute;
  top: 0;
  left: 0;
}
.hiring-model-card .button {
  background: #2b8ede;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  display: inline-block;
}
.hiring-model-card .button:hover {
  background: #052E4F;
}

.footer {
  background: #052E4F;
  padding: 24px 0;
  width: 100%;
}
.footer .two-cols-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer .two-cols-flex {
    flex-direction: row;
  }
}
.footer .left {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .left {
    text-align: left;
  }
}
.footer .left p {
  color: #ebebeb;
  font-size: 14px;
}
.footer .right {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .right {
    justify-content: flex-end;
    margin-top: 0;
  }
}
.footer .right ul {
  list-style: none;
}
.footer .right ul li {
  display: inline;
}
.footer .right ul li a {
  margin: 0 0.5rem;
  color: #ebebeb;
}/*# sourceMappingURL=styles.css.map */